{% if app.user %}
    {% if picture %}
        <a href="{{ asset(picture.path) }}" target="_blank"><img class="img-thumbnail" src="{{ asset(picture.miniaturePath) }}" alt="{{ picture.title }}"/></a>
    {% else %}
        <button type="button" id="picture_upload_button" class="btn btn-primary" data-href="{{ path('picture_create', { challengeId : challenge.id }) }}">{{ "challenge.picture.upload"|trans() }}</button>
    {% endif %}
{% else %}
        <a class="btn btn-primary" href="{{ path('login') }}">{{ "challenge.picture.upload"|trans() }}</a>
{% endif %}
