<div class="picture_details">

    <div class="tab comments">
        <div class="tag"><span class="glyphicon glyphicon-comment"></span></div>
        <h4>Comments</h4>

        {% include 'SPJGameBundle:Comment:list.html.twig' %}

        {% include 'SPJGameBundle:Comment:create.html.twig' with {'challenge' : picture.challenge} %}

    </div>

    <div class="tab rating">
        <div class="tag"><span class="glyphicon glyphicon-star"></span></div>

        {% if app.user != "" and picture.user.id != app.user.id %}
            {% include 'SPJGameBundle:Rating:create.html.twig' %}
        {% endif %}

        {% include 'SPJGameBundle:Rating:show.html.twig' %}

    </div>

    <div class="tab metadata">

        <div class="tag"><span class="glyphicon glyphicon-question-sign"></span></div>

        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{ picture.ISO }}</span>
                {{ "picture.ISO"|trans() }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ picture.aperture }}</span>
                {{ "picture.aperture"|trans() }}
            </li>
            <li class="list-group-item">
                <span class="badge">{{ picture.shutterSpeed }}</span>
                {{ "picture.shutter_speed"|trans() }}
            </li>
        </ul>

        <div class="list-group">
            <span class="list-group-item">
                <h4 class="list-group-item-heading">{{ "picture.author"|trans() }}</h4>
                <p class="list-group-item-text">{{ picture.user.username }}</p>
            </span>
            <span class="list-group-item">
                <h4 class="list-group-item-heading">{{ "picture.description"|trans() }}</h4>
                <p class="list-group-item-text">{{ picture.description }}</p>
            </span>
            <span class="list-group-item">
                <h4 class="list-group-item-heading">{{ "picture.location"|trans() }}</h4>
                <p class="list-group-item-text">{{ picture.location }}</p>
            </span>
        </div>
    </div>
    <div class="pager btn-group">
        {% if previousPicture %}
            <button type="button" data-href="{{ path('picture_show', { pictureId : previousPicture.id }) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ "picture.button.previous"|trans() }}
            </button>
        {% endif %}
        {% if nextPicture %}
            <button type="button" data-href="{{ path('picture_show', { pictureId : nextPicture.id }) }}" class="btn btn-default">
                {{ "picture.button.next"|trans() }}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        {% endif %}
    </div>
    <img class="picture" src="{{ asset(picture.path) }}" title="{{ picture.title }}" alt="{{ picture.title }}"/>
</div>
