<div class="picture_details">
    <div class="row">
        <div class="col-xs-9">
            <img class="picture" src="{{ asset(picture.path) }}" title="{{ picture.title }}" alt="{{ picture.title }}"/>
        </div>
        <div class="col-xs-3">
            <div class="comments">
                <h4>Comments</h4>
                <ul>
                    {% for comment in picture.comments %}
                        <li>
                            <p>
                                <span class="author">{{ comment.user.username }}</span>
                                <span class="content">{{ comment.content }}</span>
                            </p>
                            <p>
                                <span class="date">{{ comment.dateCreated|date('c') }}</span>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                <div class="create">
                    <form method="POST" action="{{ path('comment_create', { pictureId : picture.id }) }}">
                        <input type="text" name="content"/>
                        <input type="submit" class="submit"/>
                    </form>
                </div>
        </div>
    </div>
</div>
