<div class="challenge panel panel-{% block panelType %}{% endblock %}">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% block panelTitle %}Challenge{% endblock %} : <strong>{{ challenge.subject }}</strong>
        </h3>
        {% block challenge_dates %}
        {% endblock %}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 challenge_pictures {{ challenge.status }}" data-content_url="{{ path('challenge_picture_list', { challengeId : challenge.id }) }}">
                <p>{{ "challenge.loading"|trans() }}</p>
            </div>
            <div class="col-md-4">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ "challenge.user_picture"|trans() }}</h3>
                    </div>
                    <div class="challenge_user_picture panel-body" data-content_url="{{ path('challenge_user_picture_show', { challengeId : challenge.id }) }}">
                        <p>{{ "challenge.loading"|trans() }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
