{% block form_row %}
    <div class="input-group">
        {{ form_widget(form) }}
    </div>
    <br/>
{% endblock %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% if 'text' == type or 'password' == type and attr.label is not empty %}
        <span class="input-group-addon">{{ attr.label|trans() }}</span>
    {% endif %}
    <input type="{{ type }}" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}

{% block button_widget %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="btn btn-primary">{{ label|trans() }}</button>
{% endblock button_widget %}
